<div class="bground">
    <img src="home.jpg">

<h1>Welcome to Effectuate tech solutions!</h1>

    <h4>“Success is not final; failure is not fatal:<br> it is the courage to continue that counts.”<br> - Winston Churchill</h4>

<a href="abouts" class="button">Read More -></a>


<h3>IT solutions</h3>
<h5>Service Provider</h5>

<div class="container">
    <div class="a1">
        <img src="bottom1.gif">
    </div>
    <div class="a2">
        <img src="bottom2.gif">
    </div>
    <div class="a3">
        <img src="bottom3.gif">
    </div>
    <div class="a4">
        <img src="bottom4.gif" alt="">
    </div>
</div>
</div>
<router-outlet></router-outlet>
<script>

</script>