<div class="bg">

<h1>ABOUT ETS</h1>
<p>&nbsp;&nbsp;Every website and web application needs a design team, along with the engineering & development team.<br><br>

    So if you don’t want to learn programming but still want to have a part in building technologies and influencing how software progresses,<br><br> then web design could be a good IT job choice for you.<br><br>
    
    Like software engineering, there are formal degrees and academic programs that help prepare you for this,<br><br> but it's also possible to be self-taught or take an accelerated program that is not part of a 4-year university degree.</p>
</div>